[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mumarinex"]
	path = mumarinex
	url = https://github.com/nathan-chauvel/mumarinex
